<a href="https://colab.research.google.com/github/Dhruvi-1234/assignment_1/blob/main/pratice_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment 1

In [ ]:
import pandas as pd

In [ ]:
column_names = ['Class Name','Left-Weight','Left-Distance','Right-Weight','Right-Distance']

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data', names = column_names)
#Columns (pd.DataFrame)
#Rows (pd.read_csv)

In [ ]:
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [ ]:
df.shape

(625, 5)

In [ ]:
df.head()

  Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0          B            1              1             1               1
1          R            1              1             1               2
2          R            1              1             1               3
3          R            1              1             1               4
4          R            1              1             1               5

In [ ]:
df.tail()

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

In [ ]:
df['Class Name'].unique()

array(['B', 'R', 'L'], dtype=object)

In [ ]:
df['Left-Weight'].unique()

array([1, 2, 3, 4, 5])

In [ ]:
df['Left-Distance'].unique()

array([1, 2, 3, 4, 5])

In [ ]:
df['Right-Weight'].unique()

array([1, 2, 3, 4, 5])

In [ ]:
df['Right-Distance'].unique()

array([1, 2, 3, 4, 5])

In [ ]:
df.dtypes

Class Name        object
Left-Weight        int64
Left-Distance      int64
Right-Weight       int64
Right-Distance     int64
dtype: object

In [ ]:
df.describe()

       Left-Weight  Left-Distance  Right-Weight  Right-Distance
count   625.000000     625.000000    625.000000      625.000000
mean      3.000000       3.000000      3.000000        3.000000
std       1.415346       1.415346      1.415346        1.415346
min       1.000000       1.000000      1.000000        1.000000
25%       2.000000       2.000000      2.000000        2.000000
50%       3.000000       3.000000      3.000000        3.000000
75%       4.000000       4.000000      4.000000        4.000000
max       5.000000       5.000000      5.000000        5.000000

In [ ]:
df['Total'] = df.iloc[:,1:4].sum(axis=1) # addition of new column in the data
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total
0,B,1,1,1,1,3
1,R,1,1,1,2,3
2,R,1,1,1,3,3
3,R,1,1,1,4,3
4,R,1,1,1,5,3
...,...,...,...,...,...,...
620,L,5,5,5,1,15
621,L,5,5,5,2,15
622,L,5,5,5,3,15
623,L,5,5,5,4,15
624,B,5,5,5,5,15

In [ ]:
df = df.drop(['Total'],axis =1) # drop a column 
df

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [ ]:
df['Total Weight']= df.iloc[:,[1,3]].sum(axis=1) #create a new column that has values found as a result of applying some operation on the existing columns
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total Weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

In [ ]:
df.iloc[[0]] #Accessing elements using loc and iloc

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total Weight
0,B,1,1,1,1,2

In [ ]:
df.iloc[:,[0,5]]

    Class Name  Total Weight
0            B             2
1            R             2
2            R             2
3            R             2
4            R             2
..         ...           ...
620          L            10
621          L            10
622          L            10
623          L            10
624          B            10

[625 rows x 2 columns]

In [ ]:
df.iloc[:,0:5]

    Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            B            1              1             1               1
1            R            1              1             1               2
2            R            1              1             1               3
3            R            1              1             1               4
4            R            1              1             1               5
..         ...          ...            ...           ...             ...
620          L            5              5             5               1
621          L            5              5             5               2
622          L            5              5             5               3
623          L            5              5             5               4
624          B            5              5             5               5

[625 rows x 5 columns]

In [ ]:
df.iloc[[0],0:6]

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total Weight
0,B,1,1,1,1,2

In [ ]:
df.iloc[0:5,0:6]

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total Weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2

In [ ]:
df

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total Weight
0,B,1,1,1,1,2
1,R,1,1,1,2,2
2,R,1,1,1,3,2
3,R,1,1,1,4,2
4,R,1,1,1,5,2
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

In [ ]:
df.loc[0,'Total Weight']

2

In [ ]:
df.loc[0:6,'Class Name']

0    B
1    R
2    R
3    R
4    R
5    R
6    R
Name: Class Name, dtype: object

In [ ]:
df.loc[:10,['Class Name','Left-Weight','Right-Weight']]

   Class Name  Left-Weight  Right-Weight
0           B            1             1
1           R            1             1
2           R            1             1
3           R            1             1
4           R            1             1
5           R            1             2
6           R            1             2
7           R            1             2
8           R            1             2
9           R            1             2
10          R            1             3

In [ ]:
df.loc[:,'Left-Weight':'Right-Distance']

     Left-Weight  Left-Distance  Right-Weight  Right-Distance
0              1              1             1               1
1              1              1             1               2
2              1              1             1               3
3              1              1             1               4
4              1              1             1               5
..           ...            ...           ...             ...
620            5              5             5               1
621            5              5             5               2
622            5              5             5               3
623            5              5             5               4
624            5              5             5               5

[625 rows x 4 columns]

In [ ]:
df.loc[df['Total Weight']>7]

,Class Name,Left-Weight,Left-Distance,Right-Weight,Right-Distance,Total Weight
270,R,3,1,5,1,8
271,R,3,1,5,2,8
272,R,3,1,5,3,8
273,R,3,1,5,4,8
274,R,3,1,5,5,8
...,...,...,...,...,...,...
620,L,5,5,5,1,10
621,L,5,5,5,2,10
622,L,5,5,5,3,10
623,L,5,5,5,4,10
624,B,5,5,5,5,10

In [ ]:
df.loc[df['Total Weight']>7,['Left-Weight','Right-Weight']]

     Left-Weight  Right-Weight
270            3             5
271            3             5
272            3             5
273            3             5
274            3             5
..           ...           ...
620            5             5
621            5             5
622            5             5
623            5             5
624            5             5

[150 rows x 2 columns]

In [ ]:
df.isnull().sum() #Checking if there are any missing values.

Class Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
Total Weight      0
dtype: int64

Assignment 2

In [ ]:
lst = [3, 4, 2, 1, 5, 1, 2, 4, 3, 4]    #count the frequency of elements in a list using a dictionary
dict1 = {}
for item in lst:
  if item in dict1:
     dict1[item] = dict1[item] +1
  else:
    dict1[item]= 1
print(dict1)

{3: 2, 4: 3, 2: 2, 1: 2, 5: 1}